@tailwind base;
@tailwind components;
@tailwind utilities;

#track{
    background-color: #103A3A ;
}

#pagination{
    background-color: #103A3A;
}


.input-class {
    @apply w-full px-2 text-sm md:text-lg border border-gray-500 rounded h-[3rem] md:h-[3.5rem] focus:outline-none focus:ring-0;
  }
  
  .select-class {
    @apply w-full px-2 text-sm md:text-lg border border-gray-500 rounded h-[3rem] md:h-[3.5rem] focus:outline-none focus:ring-0 relative z-30;
  }
  
  .error-class {
    @apply text-red-500;
  }
  


  /* Loader Container */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #082b14;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  /* Keyframes for spinner animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  